annotated-types==0.7.0
asgiref==3.8.1
cffi==1.17.0
contextlib2==21.6.0
cryptography==43.0.0
Django==5.0.7
django-ninja==1.2.2
django-ninja-extra==0.21.2
django-ninja-jwt==5.3.2
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
injector==0.22.0
psycopg==3.2.1
psycopg-binary==3.2.1
pycparser==2.22
pydantic==2.8.2
pydantic_core==2.20.1
PyJWT==2.9.0
python-dotenv==1.0.1
sqlparse==0.5.1
typing_extensions==4.12.2
